{% extends "base_generic.html" %}

{% block content %}

<main role="main" class="container">
    <div class="container card p-5" style="margin-top:10px;">
        <h1>List of Armors</h1>

        {% if armor_list %}
        <ul>

            {% for armor in armor_list %}
            <li>
                <a href="{{ armor.get_absolute_url }}">{{ armor.name }}</a>
            </li>
            {% endfor %}

        </ul>
        {% else %}
        <p>There are no armors in the wiki.</p>
    </div>
</main>
{% endif %}
{% endblock %}