{% extends "base_generic.html" %}

{% block content %}

<main role="main" class="container">
    <div class="container card p-5" style="margin-top:10px;">
        <h1>List of Class</h1>

        {% if class_list %}
        <ul>

            {% for class in class_list %}
            <li>
                <a href="{{ class.get_absolute_url }}">{{ class.name }}</a>
            </li>
            {% endfor %}

        </ul>
        {% else %}
        <p>There are no classes in the wiki.</p>
        {% endif %}
    </div>
</main>

{% endblock %}