{% extends "base_generic.html" %}

{% block content %}

<main role="main" class="container">
    <div class="container card p-5" style="margin-top:10px;">
        <h1>List of Equipment</h1>

        {% if equipment_list %}
        <ul>

            {% for equipment in equipment_list %}
            <li>
                <a href="{{ equipment.get_absolute_url }}">{{ equipment.name }}</a>
            </li>
            {% endfor %}

        </ul>
        {% else %}
        <p>There are no equipment in the wiki.</p>
        {% endif %}
    </div>
</main>

{% endblock %}