{% extends "base_generic.html" %}

{% block content %}
<main role="main" class="container">
    <div class="container card m-4" style="margin-top:10px;">

        <div class="row" style="margin-top: 10px">
            <!--Grid column-->
            <div class="col-md">

                <h1>{{equipment.name}}</h1>
                <hr>


            </div>

        </div>
        <div class="pb-2" style="margin-left: 55px;">

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-md-2">

                    <h4>Cost</h4>
                    <hr>
                    <div>
                        <h6>{{equipment.gold}} gold<br>
                            {{equipment.silver}} silver<br>
                            {{equipment.copper}} copper<br></h6>
                    </div>
                </div>

            </div>
            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-md-2">

                    <h4>Weight</h4>
                    <hr>
                    <div>
                        <h6>{{equipment.weight}} lb</h6>
                    </div>
                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Description:</h4>
                    <hr>
                    <h6>{{equipment.descrtiption}}</h6>


                </div>

            </div>


        </div>

        <!--Main container-->
    </div>
</main>

{% endblock %}