{% extends "base_generic.html" %}

{% block content %}
<main role="main" class="container">
    <div class="container card m-4" style="margin-top:10px;">

        <div class="row  m-4" style="margin-top: 10px">
            <!--Grid column-->
            <div class="col-md">

                <h1>{{race.name}}</h1>
                <hr>


            </div>

        </div>

        <div class="pb-2" style="margin-left: 55px;">

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-md-5">

                    <h4>Racial Modifiers:</h4>
                    <hr>
                    <h6>
                        <!--checks racemods-->
                        <ul>
                            {% if raceStr > 0 %}
                            <li class="mb-3">Increase Strength Score by +{{raceStr}}</li>
                            {% elif raceStr < 0 %}
                            <li class="mb-3">Decrease Strength Score by -{{raceStr}}</li>
                            {% endif %}

                            {% if raceDex > 0 %}
                            <li class="mb-3">Increase Dexterity Score by +{{raceDex}}</li>
                            {% elif raceDex < 0 %}
                            <li class="mb-3">Decrease Dexterity Score by -{{raceDex}}</li>
                            {% endif %}

                            {% if raceCon > 0 %}
                            <li class="mb-3">Increase Constitution Score by +{{raceCon}}</li>
                            {% elif raceCon < 0 %}
                            <li class="mb-3">Decrease Constitution Score by -{{raceCon}}</li>
                            {% endif %}

                            {% if raceInt > 0 %}
                            <li class="mb-3">Increase Intelligence Score by +{{raceInt}}</li>
                            {% elif raceInt < 0 %}
                            <li class="mb-3">Decrease Intelligence Score by -{{raceInt}}</li>
                            {% endif %}

                            {% if raceWis > 0 %}
                            <li class="mb-3">Increase Wisdom Score by +{{raceWis}}</li>
                            {% elif raceWis < 0 %}
                            <li class="mb-3">Decrease Wisdom Score by -{{raceWis}}</li>
                            {% endif %}

                            {% if raceCha > 0 %}
                            <li class="mb-3">Increase Charisma Score by +{{raceCha}}</li>
                            {% elif raceCha < 0 %}
                            <li class="mb-3">Decrease Charisma Score by -{{raceCha}}</li>
                            {% endif %}

                        </ul>
                    </h6>
                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Description:</h4>
                    <hr>
                    <h6>{{race.description}}</h6>


                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Racial Traits and Abilities:</h4>
                    <hr>
                    <h6>



                        <ul>
                            {% for f in raceFeatures %}
                            <li class="mb-3">{{f.description}}</li>
                            {% endfor %}
                        </ul>
                    </h6>
                </div>

            </div>


            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Sub Races:</h4>
                    <hr>
                    {% for f in subraces %}
                    <div class="card col-xl-10 p-3 my-3">

                        <h4>{{f.name}}:</h4>
                        <hr>
                        <div class="col-xl-12">
                            <h4>Racial Modifiers:</h4>
                            <hr>

                            <h6 class="pl-3">
                                In addition to the Dwarf Racial Modifiers, Hill Dwarves gain:
                                <hr>
                                <ul>
                                    {% for subracekey, mods in subrace_mods.items %}
                                        {% if subracekey == f.name %}
                                            {% with sub_mods=mods %}
                                                {% for sc, v in sub_mods.items %}
                                                    {% if sc == 'str' %}
                                                        {% if v > 0 %}
                                                            <li class="mb-3">Increase Strength Score by +{{v}}</li>
                                                        {% elif v < 0 %}
                                                            <li class="mb-3">Decrease Strength Score by -{{v}}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if sc == 'dex' %}
                                                        {% if v > 0 %}
                                                            <li class="mb-3">Increase Dexterity Score by +{{v}}</li>
                                                        {% elif v < 0 %}
                                                            <li class="mb-3">Decrease Dexterity Score by -{{v}}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if sc == 'con' %}
                                                        {% if v > 0 %}
                                                            <li class="mb-3">Increase Constitution Score by +{{v}}</li>
                                                        {% elif v < 0 %}
                                                            <li class="mb-3">Decrease Constitution Score by -{{v}}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if sc == 'int' %}
                                                        {% if v > 0 %}
                                                            <li class="mb-3">Increase Intelligence Score by +{{v}}</li>
                                                        {% elif v < 0 %}
                                                            <li class="mb-3">Decrease Intelligence Score by -{{v}}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if sc == 'wis' %}
                                                        {% if v > 0 %}
                                                            <li class="mb-3">Increase Wisdom Score by +{{v}}</li>
                                                        {% elif v < 0 %}
                                                            <li class="mb-3">Decrease Wisdom Score by -{{v}}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if sc == 'cha' %}
                                                        {% if v > 0 %}
                                                            <li class="mb-3">Increase Charisma Score by +{{v}}</li>
                                                        {% elif v < 0 %}
                                                            <li class="mb-3">Decrease Charisma Score by -{{v}}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% empty %}
                                                    <li class="mb-3">Nothing.</li>
                                                {% endfor %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </h6>

                        </div>

                        <div class="col-xl-12">
                            <h4>Description:</h4>
                            <hr>

                            <h6 class="pl-3">
                                {{f.description}}
                            </h6>

                        </div>

                        <div class="col-xl-12">
                            <h4>Racial Abilities:</h4>
                            <hr>

                            <h6 class="pl-3">
                                In addition to the Dwarf Racial Abilities, Hill Dwarves gain:
                                <ul>
                                    {% for subracekey, feats in subraceFeatures.items %}
                                        {% if subracekey == f.name %}
                                            {% for feat in feats %}
                                                <li>{{feat.description}}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </h6>

                        </div>

                    </div>
                    {% endfor %}




                </div>

            </div>


        </div>

        <!--Main container-->
    </div>
</main>

{% endblock %}