{% extends "base_generic.html" %}

{% block content %}
<main role="main" class="container">
    <div class="container card m-4" style="margin-top:10px;">

        <div class="row  m-4" style="margin-top: 10px">
            <!--Grid column-->
            <div class="col-md">

                <h1>{{race.name}}</h1>
                <hr>


            </div>

        </div>

        <div class="pb-2" style="margin-left: 55px;">

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-md-5">

                    <h4>Racial Modifiers:</h4>
                    <hr>
                    <h6>
                        <ul>
                            <li>{{race.modifiers}}</li>
                        </ul>
                    </h6>
                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Description:</h4>
                    <hr>
                    <h6>{{race.description}}</h6>


                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Racial Traits and Abilities:</h4>
                    <hr>
                    <h6>



                        <ul>
                            {% for f in raceFeatures %}

                            {% if f.race.name == race.name %}
                            <li class="mb-3">{{f.description}}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </h6>
                </div>

            </div>


            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Sub Races:</h4>
                    <hr>
                    {% for f in subraces %}
                    {% if f.parent_race.name == race.name %}
                    <div class="card col-xl-10 p-3 my-3">

                        <h4>{{f.name}}:</h4>
                        <hr>
                        <div class="col-xl-12">
                            <h4>Racial Modifiers:</h4>
                            <hr>

                            <h6 class="pl-3">
                                In addition to the Dwarf Racial Modifiers, Hill Dwarves gain:
                                <ul>
                                    <li>increase Wisdom Score by +1</li>
                                </ul>
                            </h6>

                        </div>

                        <div class="col-xl-12">
                            <h4>Description:</h4>
                            <hr>

                            <h6 class="pl-3">
                                As a hill dwarf, you have keen senses, deep intuition,
                                and remarkable resilience. The gold dwarves of Faerein
                                in their mighty southern kingdom are hill dwarves, as
                                are the exiled Neidar and the debased Klar of Krynn in
                                the Dragonlance setting.
                            </h6>

                        </div>

                        <div class="col-xl-12">
                            <h4>Racial Abilities:</h4>
                            <hr>

                            <h6 class="pl-3">
                                In addition to the Dwarf Racial Abilities, Hill Dwarves gain:
                                <ul>
                                    <li>Dwarven Toughness:<br>Your hit point maximum
                                        increases by 1, and it increases by 1 every time you
                                        gain a level.</li>
                                </ul>
                            </h6>

                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}



                    <div class="card col-xl-10 p-3 my-3">

                        <h4>Mountain Dwarf:</h4>
                        <hr>
                        <div class="col-xl-12">
                            <h4>Racial Modifiers:</h4>
                            <hr>

                            <h6 class="pl-3">
                                In addition to the Dwarf Racial Modifiers, Mountain Dwarves gain:
                                <ul>
                                    <li>increase Strength Score by +2</li>
                                </ul>
                            </h6>

                        </div>

                        <div class="col-xl-12">
                            <h4>Description:</h4>
                            <hr>

                            <h6 class="pl-3">
                                As a mountain dwarf, you're strong and hardy,
                                accustomed to a difficult life in rugged terrain. You're
                                probably on the tall side (for a dwarf). and tend toward
                                lighter coloration. The shield dwarves of northern
                                Faerun, as well as the ruling Hylar clan and the noble
                                Daewar clan of Dragonlance, are mountain dwarves.
                            </h6>

                        </div>

                        <div class="col-xl-12">
                            <h4>Racial Abilities:</h4>
                            <hr>

                            <h6 class="pl-3">
                                In addition to the Dwarf Racial Abilities, Mountain Dwarves gain:
                                <ul>
                                    <li>Dwarven Armor Training:<br>You have proficiency with
                                        light and medium armor.</li>
                                </ul>
                            </h6>

                        </div>

                    </div>
                </div>

            </div>


        </div>

        <!--Main container-->
    </div>
</main>

{% endblock %}