{% extends "base_generic.html" %}

{% block content %}
<main role="main" class="container">
    <div class="container card m-4" style="margin-top:10px;">

        <!-- Name -->
        <div class="row  m-4" style="margin-top: 10px">
            <!--Grid column-->
            <div class="col-md">

                <h1>{{spell.name}}</h1>
                <hr>


            </div>

        </div>

        <!-- Everything under Name -->
        <div class="pb-2" style="margin-left: 55px;">

            <div class="row mb-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Spell level</th>
                            <th scope="col">School</th>
                            <th scope="col">Casting Time</th>
                            <th scope="col">Range</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Components</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1st level</td>
                            <td>{{spell.get_school_display}} Spell</td>
                            <td>{{spell.cast_time}}</td>
                            {% if spell.area_effected == "" %}
                                <td>{{spell.range}}</td>
                            {% else %}
                                <td>{{spell.range}} ({{spell.area_effected}})</td>
                            {% endif %}
                            <td>{{spell.duration}}</td>
                            {% if spell.materials == "" %}
                                <td>{{spell.components}}</td>
                            {% else %}
                                <td>{{spell.components}} ({{spell.materials}})</td>
                            {% endif %}

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Description:</h4>
                    <hr>
                    <h6>{{spell.description}}</h6>


                </div>

            </div>

            <div class="row my-4" style="margin-top: 10px">
                <!--Grid column-->
                <div class="col-xl-8">

                    <h4>Spell rankings sorted by class:</h4>
                    <hr>
                    {% for c in classes %}
                    <div class="card col-xl-10 p-3 my-3">


                        <h4>{{c.character_class.name}}: {{c.ranking}}/5</h4>
                        <hr>

                        <h6 class="pl-3">
                            {{c.ran_note}}
                        </h6>
                    </div>
                    {% endfor %}

                </div>

            </div>

        </div>

        <!--Main container-->
    </div>
</main>

{% endblock %}