<!DOCTYPE html>

<!-- TEMPLATE for our pages, Stylesheets, Scripts and Navbar! -->

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">


    {% block title %}<title>PressF To Pay Respect</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

</head>

<body>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">D&amp;D Pal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">

      {% if user.is_authenticated %}


          <span class="navbar-text">
            Welcome {{ user.get_username }}
          </span>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'my-characters' %}">Characters <span class="sr-only">(current)</span></a>
        </li>


      {% else %}

        <li class="nav-item">
          <span class="navbar-text">
            Welcome to Dnd pal
          </span>
        </li>


      {% endif %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'simple' %}">Simple Guides  <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiki</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'classes' %}">Classes</a>
                <a class="dropdown-item" href="{% url 'equipment' %}">Equipment</a>
                <a class="dropdown-item" href="#">Feats</a>
                <a class="dropdown-item" href="{% url 'spells' %}">Spells</a>
                <a class="dropdown-item" href="{% url 'races' %}">Races</a>
                <a class="dropdown-item" href="{% url 'armors' %}">Armors</a>
                <a class="dropdown-item" href="{% url 'weapons' %}">Weapons</a>
                <a class="dropdown-item" href="{% url 'my-characters' %}">Characters</a>
                <a class="dropdown-item" href="{% url 'alan' %}">ALAN'S DEBUGGING HERE</a>
            </div>
        </li>
      </ul>

      {% if user.is_authenticated %}
      <a class="btn btn-light" href="{% url 'logout'%}?next={{request.path}}" role="button">Logout</a>

      {% else %}
      <a class="btn btn-light" href="{% url 'login'%}?next={{request.path}}" role="button">Login</a>

      {% endif %}

    </div>
  </nav>

<!-- old one-->

<!-- Ends Navbar-->

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" sss></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
{% block java %}
{% endblock %}

 </body>
</html>
