{% extends "base_generic.html" %}

{% block content %}


<main role="main" class="container">
    <div class="container">

        <div class="row" style="margin-top: 10px">
            <!--Grid column-->
            <div class="col-md-5">

                <h1>Characters</h1>
                <hr>


            </div>

        </div>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
               style=" border-radius: 25px;background-color: #DCDCDC; margin-bottom:5px">

                <table>
                    <col width="20%">
                    <col width="80%">
                    <tbody>
                    <tr>
                        <th>
                            <div class="avatar">
                                <img style="width:75%; max-width: 400px;height:auto;"src="img/bar.png"class="rounded-circle img-responsive">
                            </div>
                        </th>
                        <th scope="row">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Friar Jarl</h5>
                                <small class="text-muted">LVL 7</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between" style="align-items: center;">
                                <p class="mb-1">Half-Orc Barbarian</p>
                                <button type="button" class="btn btn-flat btn-danger">Delete</button>
                            </div>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
               style=" border-radius: 25px;background-color: #DCDCDC; margin-bottom:5px">

                <table>
                    <col width="20%">
                    <col width="80%">
                    <tbody>
                    <tr>
                        <th>
                            <div class="avatar">
                                <img style="width:75%; max-width: 400px;  height:auto;"   src="img/rouge.png" class="rounded-circle img-responsive">
                            </div>
                        </th>
                        <th scope="row">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Sneacky McSneack face</h5>
                                <small class="text-muted">LVL 1</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between" style="align-items: center;">
                                <p class="mb-1">Human Rouge</p>
                                <button type="button" class="btn btn-flat btn-danger">Delete</button>
                            </div>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
               style=" border-radius: 25px;background-color: #DCDCDC; margin-bottom:5px ">

                <table>
                    <col width="20%">
                    <col width="80%">
                    <tbody>
                    <tr>
                        <th>
                            <div class="avatar">
                                <img style="width:75%;max-width: 400px;height:auto;"        src="img/Ranger.png"class="rounded-circle img-responsive">
                            </div>
                        </th>
                        <th scope="row">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Graceuvial Taletreader</h5>
                                <small class="text-muted">LVL 12</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between" style="align-items: center;">
                                <p class=" mb-1">Half-Elf Ranger</p>
                                <button type="button" class="btn btn-flat btn-danger">Delete</button>
                            </div>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
               style=" border-radius: 25px;background-color: #DCDCDC; margin-bottom:5px ">

                <table>
                    <col width="20%">
                    <col width="80%">
                    <tbody>
                    <tr>
                        <th>
                            <div class="avatar">
                                <img style="width:75%;max-width: 400px;height:auto;"src="img/add.png"class="rounded-circle img-responsive">
                            </div>
                        </th>
                        <th scope="row">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Add New</h5>
                                <small class="text-muted"></small>
                            </div>
                            <p class="mb-1"></p>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </a>
            <!--Grid column-->

        </div>
        <!--Main container-->
    </div>
</main>
<h1>Characters list test</h1>

{% if character_list %}
<ul>
    <li>
    {% for c in character_list %}

        <a href="{% url 'character-detail' c.pk %}">{{c.char_name}}</a> ({{ c.char_class.name }})

    {% endfor %}

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
           style=" border-radius: 25px;background-color: #DCDCDC; margin-bottom:5px ">

            <table>
                <col width="20%">
                <col width="80%">
                <tbody>
                <tr>
                    <th>
                        <div class="avatar">
                            <img style="width:75%;max-width: 400px;height:auto;"
                                 src="img/add.png"
                                 class="rounded-circle img-responsive"
                            >
                        </div>
                    </th>
                    <th scope="row">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Add New</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1"></p>
                    </th>
                </tr>
                </tbody>
            </table>
        </a>

    {% else %}
        <p>There are no characters.</p>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
       style=" border-radius: 25px;background-color: #DCDCDC; margin-bottom:5px ">

        <table>
            <col width="20%">
            <col width="80%">
            <tbody>
            <tr>
                <th>
                    <div class="avatar">
                        <img style="width:75%;max-width: 400px;height:auto;"
                             src="img/add.png"
                             class="rounded-circle img-responsive"
                        >
                    </div>
                </th>
                <th scope="row">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Add New</h5>
                        <small class="text-muted"></small>
                    </div>
                    <p class="mb-1"></p>
                </th>
            </tr>
            </tbody>
        </table>
    </a>

    {% endif %}
    </li>
</ul>
{% endblock %}