{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="	{% static 'css/custom.css' %}">
<link rel="stylesheet" href="	{% static 'css/Manuel.css' %}">
<!-- This page is for the more advanced players  -->
<main role="main" class="container">

    <div class="container">

        <!--Char name-->
        <div class="row sec-space">
          <div class="col-8">
            <h1 id="char-name"><span class="badge badge-light">Name: </span>{{character.char_name}}</h1>
          </div>
          <div class="col">
            <button id="level-up-btn" type="button" class="btn btn-primary">Level Up!</button>
          </div>

        </div>

        <!--Race Class Level-->
        <div class="row">
            <div class="col-3">
                <h3 id="race"><span class="badge badge-light">Race: </span> Gnome</h3>
            </div>
            <div class="col-6 row">
              <div class="col">
                  <h3 id="class"> <span class="badge badge-light" style="padding-left: 0px;"> Class: </span></h3>
              </div>
              <div class="col-8" style="padding-left: 0px;">
                <input id="class-field"  type="text" class="form-control-plaintext" value="Barbarian" style="text-align: left;">
              </div>
            </div>
            <div class="col-3 row">
              <div class="col">
                <h3 id="level"><span class="badge badge-light">Level: </span> </h3>
              </div>
              <div class="col" style="padding-left: 0px">
                <input id="level-field"  type="text" class="form-control-plaintext" value="0" style="text-align: left;">
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <h3 id="alignment"><span class="badge badge-light">Alignment: </span> CN</h3>
            </div>
            <div class="col-3">
                <h3 id="exp"><span class="badge badge-light">Exp: </span> 15000</h3>
            </div>
            <div class="col-3">
                <h3 id="faction"><span class="badge badge-light">Faction </span> n/a</h3>
            </div>
        </div>

        <!-- everythiong else -->
        <div class="row sec-space">

            <!--stats column-->
            <div class="col-md-3">

                <!--proficency-->
                <div class="row card text text-center justify-content-center" style="margin-top:5px ">

                    <div class="row justify-content-center stat" style="padding-top: 10px">
                        <h6>Proficiency</h6>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col6">
                        <input id="Proficiency"  type="text" class="form-control-plaintext" value="2">
                      </div>
                    </div>

                </div>
                <!--STR-->
                <div class="row card" style="margin-top:5px ">

                    <div class="row container " style="margin-left:1px;margin-top:10px">
                        <div class="col ">

                            <div class="row justify-content-center stat ">
                                <h6>Str</h6>
                            </div>

                            <div class="row justify-content-center">
                                <div class="justify-content-center">

                                    <input id="str" type="text" class="form-control-plaintext" placeholder="10">

                                </div>
                            </div>

                        </div>
                        <div class="col ">
                            <div class="row justify-content-center stat ">
                                <h6>Mod</h6>
                            </div>

                            <div class="row justify-content-center ">
                                <div class="justify-content-center ">

                                    <input id="strmd" type="text" class="form-control-plaintext mod" placeholder="+0"
                                           readonly>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!--Dex-->
                <div class="row card" style="margin-top:5px ">

                    <div class="row container " style="margin-left:1px;margin-top:10px">
                        <div class="col ">

                            <div class="row justify-content-center stat ">
                                <h6>Dex</h6>
                            </div>

                            <div class="row justify-content-center">
                                <div class="justify-content-center">

                                    <input id="dex" type="text" class="form-control-plaintext" placeholder="10">

                                </div>
                            </div>

                        </div>
                        <div class="col ">
                            <div class="row justify-content-center stat ">
                                <h6>Mod</h6>
                            </div>

                            <div class="row justify-content-center ">
                                <div class="justify-content-center ">

                                    <input id="dexmd" type="text" class="form-control-plaintext mod" placeholder="+0"
                                           readonly>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!--Con-->
                <div class="row card" style="margin-top:5px ">

                    <div class="row container " style="margin-left:1px;margin-top:10px">
                        <div class="col ">

                            <div class="row justify-content-center stat ">
                                <h6>Con</h6>
                            </div>

                            <div class="row justify-content-center">
                                <div class="justify-content-center">

                                    <input id="con" type="text" class="form-control-plaintext" placeholder="10">

                                </div>
                            </div>

                        </div>
                        <div class="col ">
                            <div class="row justify-content-center stat ">
                                <h6>Mod</h6>
                            </div>

                            <div class="row justify-content-center ">
                                <div class="justify-content-center ">

                                    <input id="conmd" type="text" class="form-control-plaintext mod" placeholder="+0"
                                           readonly>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!--Int-->
                <div class="row card" style="margin-top:5px ">

                    <div class="row container " style="margin-left:1px;margin-top:10px">
                        <div class="col ">

                            <div class="row justify-content-center stat ">
                                <h6>Int</h6>
                            </div>

                            <div class="row justify-content-center">
                                <div class="justify-content-center">

                                    <input id="int" type="text" class="form-control-plaintext" placeholder="10">

                                </div>
                            </div>

                        </div>
                        <div class="col ">
                            <div class="row justify-content-center stat ">
                                <h6>Mod</h6>
                            </div>

                            <div class="row justify-content-center ">
                                <div class="justify-content-center ">

                                    <input id="intmd" type="text" class="form-control-plaintext mod" placeholder="+0"
                                           readonly>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Wis-->
                <div class="row card" style="margin-top:5px ">

                    <div class="row container " style="margin-left:1px;margin-top:10px">
                        <div class="col ">

                            <div class="row justify-content-center stat ">
                                <h6>Wis</h6>
                            </div>

                            <div class="row justify-content-center">
                                <div class="justify-content-center">

                                    <input id="wis" type="text" class="form-control-plaintext" placeholder="10">

                                </div>
                            </div>

                        </div>
                        <div class="col ">
                            <div class="row justify-content-center stat ">
                                <h6>Mod</h6>
                            </div>

                            <div class="row justify-content-center ">
                                <div class="justify-content-center ">

                                    <input id="wismd" type="text" class="form-control-plaintext mod" placeholder="+0"
                                           readonly>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!--Chr-->
                <div class="row card" style="margin-top:5px ">

                    <div class="row container " style="margin-left:1px;margin-top:10px">
                        <div class="col ">

                            <div class="row justify-content-center stat ">
                                <h6>Chr</h6>
                            </div>

                            <div class="row justify-content-center">
                                <div class="justify-content-center">

                                    <input id="chr" type="text" class="form-control-plaintext" placeholder="10">

                                </div>
                            </div>

                        </div>
                        <div class="col ">
                            <div class="row justify-content-center stat ">
                                <h6>Mod</h6>
                            </div>

                            <div class="row justify-content-center ">
                                <div class="justify-content-center ">

                                    <input id="chrmd" type="text" class="form-control-plaintext mod" placeholder="+0"
                                           readonly>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div><!--end, stats column-->

            <!-- inititive and skills -->
            <div class="container col-md-3" style="margin-left:5px; margin-right:5px;">


                <!-- skils-->

                <div class=" rounded card " style=" margin-bottom:5px ">
                    <div class="row justify-content-center stat">
                      <button type="button" id="double-pro-btn" class="btn"><h6>Skills</h6></button>
                    </div>
                    <!--list of skills-->
                    <form class="formlist justify-content-center">


                      <!--Acrobatics-->
                      <div class="form-row ">
                        <div class="col-9">
                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;"> Acrobatics</label>
                          </div>
                        </div>
                        <div class="col-2">
                          <input id="Acro" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Animal Handling-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Animal Handling
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Anim" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Arcana-->
                      <div class="form-row ">
                        <div class="col-9">

                                <div class="checkbox cheakbox-nudge">
                                    <label style="color:black;">
                                         Arcana
                                    </label>
                                </div>

                        </div>
                        <div class="col-2">
                          <input id="Arca" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Athletics-->
                      <div class="form-row ">
                        <div class="col-9">

                                <div class="checkbox cheakbox-nudge">
                                    <label style="color:black;">
                                         Athletics
                                    </label>
                                </div>

                        </div>
                        <div class="col-2">
                          <input id="Athl" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Deception-->
                      <div class="form-row ">
                        <div class="col-9">

                                <div class="checkbox cheakbox-nudge">
                                    <label style="color:black;">
                                         Deception
                                    </label>
                                </div>

                        </div>
                        <div class="col-2">
                          <input id="Dece" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--History-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   History
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Hist" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Insight-->
                      <div class="form-row ">
                        <div class="col-9">

                                <div class="checkbox cheakbox-nudge">
                                    <label style="color:black;">
                                         Insight
                                    </label>
                                </div>

                        </div>
                        <div class="col-2">
                          <input id="Insi" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Intimidation-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Intimidation
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Inti" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Investigation-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Investigation
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Inve" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Medicine-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Medicine
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Medi" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Nature-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Nature
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Natu" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Perception-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Perception
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Perc" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Performance-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Performance
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Perf" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Persuation-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Persuation
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Pers" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Religion-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                  Religion
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Reli" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Sleight of hand-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Sleight of Hand
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Slei" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Stealth-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                   Stealth
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Stea" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>
                      <!--Survival-->
                      <div class="form-row ">
                        <div class="col-9">

                          <div class="checkbox cheakbox-nudge">
                              <label style="color:black;">
                                  Survival
                              </label>
                          </div>

                        </div>
                        <div class="col-2">
                          <input id="Surv" type="text" class="form-control-plaintext" placeholder="0" readonly>
                        </div>
                      </div>


                    </form>

                   <!-- The skill double prof Modal -->
                    <div id="double-pro-modal" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content col-3">
                        <span class="double-pro-close">&times;</span>
                        <div>
                          <h6>Select Double Proficiency skills</h6>
                        </div>
                      <form class="formlist justify-content-center">
                          <!--Acrobatics-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="AcroDP" type="checkbox"> Acrobatics
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Animal Handling-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="AnimDP" type="checkbox"> Animal Handling
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Arcana-->
                          <div class="form-row ">
                            <div class="col-8">

                                    <div class="checkbox cheakbox-nudge">
                                        <label style="color:black;">
                                            <input id="ArcaDP" type="checkbox"> Arcana
                                        </label>
                                    </div>

                            </div>

                          </div>
                          <!--Athletics-->
                          <div class="form-row ">
                            <div class="col-8">

                                    <div class="checkbox cheakbox-nudge">
                                        <label style="color:black;">
                                            <input id="AthlDP" type="checkbox"> Athletics
                                        </label>
                                    </div>

                            </div>

                          </div>
                          <!--Deception-->
                          <div class="form-row ">
                            <div class="col-8">

                                    <div class="checkbox cheakbox-nudge">
                                        <label style="color:black;">
                                            <input id="DeceDP" type="checkbox"> Deception
                                        </label>
                                    </div>

                            </div>

                          </div>
                          <!--History-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="HistDP" type="checkbox"> History
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Insight-->
                          <div class="form-row ">
                            <div class="col-8">

                                    <div class="checkbox cheakbox-nudge">
                                        <label style="color:black;">
                                            <input id="InsiDP" type="checkbox"> Insight
                                        </label>
                                    </div>

                            </div>

                          </div>
                          <!--Intimidation-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="IntiDP" type="checkbox"> Intimidation
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Investigation-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="InveDP" type="checkbox"> Investigation
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Medicine-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="MediDP" type="checkbox"> Medicine
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Nature-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="NatuDP" type="checkbox"> Nature
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Perception-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="PercDP" type="checkbox"> Perception
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Performance-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="PerfDP" type="checkbox"> Performance
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Persuation-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="PersDP" type="checkbox"> Persuation
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Religion-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="ReliDP" type="checkbox"> Religion
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Sleight of hand-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="SleiDP" type="checkbox"> Sleight of Hand
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Stealth-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="SteaDP" type="checkbox"> Stealth
                                  </label>
                              </div>

                            </div>

                          </div>
                          <!--Survival-->
                          <div class="form-row ">
                            <div class="col-8">

                              <div class="checkbox cheakbox-nudge">
                                  <label style="color:black;">
                                      <input id="SurvDP" type="checkbox"> Survival
                                  </label>
                              </div>

                            </div>

                          </div>
                          <div class="">
                            <button type="button" id="DP-btn" class="btn btn-raised btn-success">Success</button>
                          </div>
                      </form>
                      </div>
                      <!--end of modal-->
                    </div>
                </div>

            </div>

            <!-- weopons hit points and combate stuff -->
            <div class="container col-sm-4" style="margin-left:5px; margin-right:5px;">

                <!--random Info-->
                <div class="row">
                    <div class="rounded col card">
                        <div class="row justify-content-center stat">
                            <h6>AC</h6>
                        </div>

                        <div class="row justify-content-center">
                          <div>
                            <input id="AC"  type="text" class="form-control-plaintext" value="15">
                          </div>
                        </div>
                    </div>
                    <div class="rounded col card" style=" margin-left:5px; margin-right:5px; ">
                        <div class="row justify-content-center stat">
                            <h6>Initiative</h6>
                        </div>

                        <div class="row justify-content-center">
                          <div>
                            <input id="Init"  type="text" class="form-control-plaintext" value="12">
                          </div>
                        </div>
                    </div>
                    <div class="rounded col card">
                        <div class="row justify-content-center stat">
                            <h6>Speed</h6>
                        </div>

                        <div class="row justify-content-center">
                          <div>
                            <input id="Speed"  type="text" class="form-control-plaintext" value="35">
                          </div>
                        </div>
                    </div>
                </div>

                <!--LIfe and how much-->
                <div class="row" style="margin-top:5px">
                    <div class="rounded col card" style=" margin-right:5px ">
                        <div class="row justify-content-center stat">
                            <h6>Max Heath</h6>
                        </div>

                        <div class="row justify-content-center">
                          <div>
                            <input id="HitPoints"  type="text" class="form-control-plaintext" value="0">
                          </div>
                        </div>
                    </div>
                    <div class="rounded col card" style=" margin-left:5px ">
                        <div class="row justify-content-center stat">
                            <h6>Temp Hit</h6>
                        </div>

                        <div class="row justify-content-center">
                          <div>
                            <input id="TempHit"  type="text" class="form-control-plaintext" value="10">
                          </div>
                        </div>
                    </div>
                </div>

                <!--saving throws -->
                <div class="row card text-center" style=" margin-top:5px;  ">

                    <h6 class="card-header">Saving Throws</h6>


                    <div class="row container">
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Str</h6>
                            </div>

                            <div class="row justify-content-center">
                                <p id="char-stat-cha"> +4 </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Dex</h6>
                            </div>

                            <div class="row justify-content-center">
                                <p id="char-stat-cha"> +1 </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Con</h6>
                            </div>

                            <div class="row justify-content-center">
                                <p id="char-stat-cha"> +4 </p>
                            </div>
                        </div>

                    </div>
                    <div class="row container">
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Int</h6>
                            </div>

                            <div class="row justify-content-center">
                                <p id="char-stat-cha"> 0 </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Wis</h6>
                            </div>

                            <div class="row justify-content-center">
                                <p id="char-stat-cha"> -1 </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Cha</h6>
                            </div>

                            <div class="row justify-content-center">
                                <p id="char-stat-cha"> +7 </p>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Weapon-->
                <div class="row card text text-center" style=" margin-top:5px;  ">

                    <h6 class="card-header">Weapon</h6>


                    <div class="row container">
                        <div class="col-6">
                            <div class="row justify-content-left stat" style="margin-left:5px;">
                                <h6>Type</h6>
                            </div>

                            <div class="row justify-content-left">
                              <div class="col-12">
                                <input id="type"  type="text" class="form-control-plaintext text-left" value="longsword">
                              </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Damage</h6>
                            </div>

                            <div class="row justify-content-center">
                              <div>
                                <input id="Damage"  type="text" class="form-control-plaintext" value="1d8">
                              </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row justify-content-center stat">
                                <h6>Crit</h6>
                            </div>

                            <div class="row justify-content-center">
                              <div>
                                <input id="Crit"  type="text" class="form-control-plaintext" value="x2">
                              </div>
                            </div>
                        </div>


                    </div>

                </div>

                <!--Gold-->
                <div class="row card text-center" style=" margin-top:5px;  ">

                    <h6 class="card-header">Money</h6>

                    <div class="row justify-content-center stat container" style="margin-left:5px">
                        <div class="col-sm">
                            <h6>Gold</h6>
                        </div>
                        <div class="row justify-content-center">
                          <div>
                            <input id="Gold"  type="text" class="form-control-plaintext" value="127">
                          </div>
                        </div>
                    </div>
                    <div class="row justify-content-center stat container" style="margin-left:5px">
                        <div class="col-sm">
                            <h6>Silver</h6>
                        </div>
                        <div class="row justify-content-center">
                          <div>
                            <input id="Silver"  type="text" class="form-control-plaintext" value="56">
                          </div>
                        </div>
                    </div>
                    <div class="row justify-content-center stat container" style="margin-left:5px; margin-bottom:15px">
                        <div class="col-sm">
                            <h6>Copper</h6>
                        </div>
                        <div class="row justify-content-center">
                          <div>
                            <input id="AC"  type="text" class="form-control-plaintext" value="15">
                          </div>
                        </div>
                    </div>


                </div>


            </div><!--end of colomb-->

            <!--Old Spells column?-->



        </div>
        <div class="card">
          <h4>Spell list</h4>
          <ul id="spell-list-body">

          </ul>

        </div>

        <div class="card">
          <h4>ability list</h4>
          <ul id="Ability-list">

          </ul>

        </div>
		<!--health modal-->
			<div id="Health-modal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content col-8">
				<span class="Health-close">&times;</span>
				<div>
				  <h6>Select method for gaining health</h6>
				</div>
				<div class="justify-content-center row"  >
          <div class="col card">
            <h3 id="Roll" class="card-header"> Roll a </h3>
            <div class="card-body">
              <input id="Roll-value" type="number" class="form-control-plaintext" name="health" value="1">
              <button id="Roll-btn" type="button" name="button">Add Health</button>
            </div>

          </div>

          <div class="col card">
            <h3 id="Avarage"class="card-header"> Take average</h3>
            <div class="card-body">
              <input id="Average-value" type="number" class="form-control-plaintext" name="health" readonly>
              <button id="Average-btn" type="button" name="button">Add Health</button>
            </div>
          </div>

          <div class="col card">
            <h3 id="Random"class="card-header"> Random</h3>
            <div class="card-body">
              <input id="Random-value" type="number" class="form-control-plaintext" name="health" readonly>
              <button id="Random-btn" type="button" name="button">Add Health</button>
            </div>
          </div>
			  </div>
			</div>
    </div>
    <!--skills model-->
    <div id="Skills-modal" class="modal">

      <!-- Modal content -->
      <div class="modal-content col-3">
      <span class="Health-close">&times;</span>
      <div>
        <h6>Select Your Skill proficency's</h6>
        <p id="Skill-num">You can select 4<p>
      </div>
      <div>
        <div class="row">
        <ul id="Skills-body">

          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="AcroP" type="checkbox"> Acrobatics
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="AnimP" type="checkbox"> Animal Handling
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="ArcaP" type="checkbox"> Arcana
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="AthlP" type="checkbox"> Athletics
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="DeceP" type="checkbox"> Deception
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="HistP" type="checkbox"> Histiory
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="InsiP" type="checkbox"> Insigt
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="IntiP" type="checkbox"> Intimidation
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="InveP" type="checkbox"> Investigation
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="MediP" type="checkbox"> Medicine
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="NatuP" type="checkbox"> Nature
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="PercP" type="checkbox"> Perception
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="PerfP" type="checkbox"> Performance
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="PersP" type="checkbox"> Persuasion
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="ReliP" type="checkbox"> Religion
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="SleiP" type="checkbox"> Sleight of Hand
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="SteaP" type="checkbox"> Stealth
                </label>
            </div>
          </li>
          <li>
            <div class="checkbox cheakbox-nudge">
                <label style="color:black;">
                    <input id="SurvP" type="checkbox"> Survival
                </label>
            </div>
          </li>
        </ul>
      </div>
        <div class="row">
          <button  id="skill-kill"type="button" name="button">close</button>
        </div>
      </div>
    </div>
  </div>



  <!--primary Stats-->
  <div id="Stat-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content col-3">
      <span class="Health-close">&times;</span>
      <div>
        <h6>Input your Ability Scores Below</h6>
      </div>
      <div>
        <p id="main-ability"></p>
      </div>
      <div>

          <ul id="stat-body" class="row">

            <li>
              <div>
                  <label id="Test" style="color:black;">
                      <input id="Temp-str" type="number"> Strength
                  </label>
              </div>
            </li>

            <li>
              <div >
                  <label id="Test" style="color:black;">
                      <input id="Temp-dex" type="number"> Dexterity
                  </label>
              </div>
            </li>

            <li>
              <div>
                  <label id="Test" style="color:black;">
                      <input id="Temp-con" type="number"> Constitution
                  </label>
              </div>
            </li>

            <li>
              <div>
                  <label id="Test" style="color:black;">
                      <input id="Temp-wis" type="number"> Wisdom
                  </label>
              </div>
            </li>

            <li>
              <div>
                  <label id="Test" style="color:black;">
                      <input id="Temp-int" type="number"> Intelligence
                  </label>
              </div>
            </li>

            <li>
              <div>
                  <label id="Test" style="color:black;">
                      <input id="Temp-chr" type="number"> Charisma
                  </label>
              </div>
            </li>

          </ul>

          <div class="row">
            <button id="Stats-kill" type="button" class="btn btn-raised btn-primary">Submit</button>
          </div>

        </div>
      </div>
  </div>

    </div>
</main>


{% endblock %}

{% block java %}
<script src="{% static 'js/main1.js' %}"></script>
{% endblock %}
